:root {
  --layout-bg-color: #222;
  --layout-text-color: rgb(255, 136, 0);
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--layout-bg-color);
}
body {
  font-family: "robotoregular";
}
.rb {
  font-family: "robotobold";
}

a,
a:visited {
  text-decoration: none;
  font-size: 13px;
  color: var(--layout-text-color);
}
.linkname {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
.boxgrid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}
.boxgrid .appname {
  display: flex;
  flex-direction: column;
  color: var(--layout-text-color);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--layout-bg-color);
  min-width: 120px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  transition: 1s;
  border-radius: 5px;
}

.appname i {
  font-size: 24px;
  padding-right: 5px;
}
.heading {
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
