html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "OpenSans-Regular";
  font-size: 13px;
}
:root {
  --app-bg-color: white;
}

.wrap {
  background-color: var(--app-bg-color);
  display: grid;
  /* grid-template-columns: 200px 1fr 100px; */
  grid-template-rows: auto 1fr;
  height: 100%;
}
.wrap div {
  padding: 5px;
  border: 1px solid gray;
}
.wrap .content {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.wrap .divmail {
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.wrap .listemail .row {
  display: grid;
  grid-template-columns: 100px 150px 1fr auto;
}
.wrap .tablist {
  display: flex;
}
.wrap .tablist .tab {
  display: flex;
}
.wrap .tabtitle .tag {
  background-color: blue;
  color: white;
  padding: 3px;
  font-size: 10px;
  border-radius: 7px;
}
.wrap .header {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.wrap .header input {
  width: 100%;
  padding: 5px;
}
.wrap .leftbar {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
}
.wrap .rightbar {
  display: flex;
  flex-direction: column;
}
.wrap i {
  font-size: 16px;
  text-align: center;
  padding: 5px;
  color: orangered;
}
.wrap i:hover {
  color: brown;
  cursor: pointer;
}
.wrap .mail_category {
}
.wrap .mail_category .category {
  display: grid;
  grid-template-columns: 25px 1fr auto;
}
.wrap .left-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* place-content: center; */
}
