* {
  margin: 0;
  padding: 0;
  /* box-sizing: content-box; */
}
html,
body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  height: 100vh;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  /* overflow: hidden; */
  background-color: gray;
}
:root {
  --app-bg-color: white;
  --app-header-bg: white;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--app-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wrap {
  background-color: var(--app-bg-color);
  display: grid;
  height: 100%;
  /* grid-template-columns: 200px 1fr 100px; */
  grid-template-rows: auto 1fr;

  /* overflow: hidden; */
}
.wrap div {
  padding: 5px;
  border: 1px solid gray;
}
.wrap .content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow-y: auto;
}
.wrap .divmail {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow-y: auto;
}
.wrap .listemail .row {
  display: grid;
  grid-template-columns: 100px 150px 1fr auto;
}
.wrap .tablist {
  display: flex;
}
.wrap .tablist .tab {
  display: flex;
}
.wrap .tabtitle .tag {
  background-color: blue;
  color: white;
  padding: 3px;
  font-size: 10px;
  border-radius: 7px;
}
.wrap .header {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.wrap .header input {
  width: 100%;
  padding: 5px;
}
.wrap .leftbar {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  overflow-y: auto;
  gap: 5px;
}
.wrap .rightbar {
  display: flex;
  flex-direction: column;
}
.wrap i {
  font-size: 16px;
  text-align: center;
  padding: 5px;
  color: orangered;
}
.wrap i:hover {
  color: brown;
  cursor: pointer;
}

.wrap .mail_category .category,
.wrap .contact_list .category {
  display: grid;
  grid-template-columns: 25px 1fr auto;
}
.category:nth-child(2n) {
  background-color: coral;
}
.category:nth-child(2n + 1) {
  background-color: cornflowerblue;
}
.wrap .left-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* place-content: center; */
}
.rightbar i:last-child {
  border-bottom: 1px solid gray;
}
.btn {
  border: 1px solid orangered;
  border-radius: 10px;
}
.btn i {
  font-size: 2em;
}
.category .count {
  background-color: green;
  color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  font-size: 8px;
  line-height: 10px;
}
.row .title {
  font-weight: bold;
}
#divListMail {
  overflow-y: auto;
}
#contactList {
  overflow-y: auto;
}
#mailCategory {
  overflow-y: auto;
}
