* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html,
body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  height: 100vh;
  font-family: "pt_sansregular";
  font-size: 24px;
  /* overflow: hidden; */
}
:root {
  --app-bg-color: white;
  --app-header-bg: white;
  --app-border-bottom: #ccc;
}
::-webkit-scrollbar {
  width: 3px;
}
.bb {
  padding: 0.5rem;
  border-bottom: 1px solid var(--app-border-bottom);
}
.hide {
  display: none !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--app-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar {
  width: 100%;
  height: 41px;
  background: rgb(10, 34, 66);
  background: linear-gradient(0deg, #0a2242 0%, #0e3684 55.99%, #2d5095 56%, #cdd5e6 100%);
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.titlebar {
  width: 100%;
  height: 24px;
  background: rgb(10, 34, 66);
  background: linear-gradient(0deg, #7d9e48 0%, #a9cd73 55.99%, #bce480 56%, #ebffcd 100%);
}
button {
  font-family: "pt_sansregular";
  height: 30px;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.button-group {
  display: flex;
  padding: 10px;
  margin: 20px;
  gap: 0.5rem;
}
.btn-blue {
  color: #fff;
  border-top: 1px solid #9ddeff;
  border-left: 1px solid #80c9ee;
  border-right: 1px solid #80c9ee;
  border-bottom: 1px solid #0e64aa;
  border-radius: 4px;
  background: linear-gradient(0deg, #1071be 0%, #7bbbfc 100%);
  outline: 1px solid #3f6f93;
  outline-offset: 0px;
}
.btn-blue:hover {
  cursor: pointer;
  background: linear-gradient(0deg, #1071be 0%, #a0cfff 100%);
}
