html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--app-bg-color);
  color: var(--app-font-color);
  font-size: 13px;
  font-family: "OpenSans-Regular";
}
#wrap {
  width: 100%;
  height: 100%;
}

#iconGrid {
  display: grid;
  width: 160px;

  grid-template-columns: auto auto;
}
